.monitored-object-widget {
    color: white;
    background-color: rgba(230, 126, 34, 0.8);
    margin-right: 2%;
    margin-bottom: 2%;
    cursor: pointer;
}

.monitored-object-widget-header {
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.1);
}

.monitored-object-widget-title {
    overflow: hidden;
}

.monitored-object-name {
    margin: 0;
}

.monitored-object-widget-action {
    margin-top: 1%;
    padding: 0 1% 0 0;
}

.monitored-object-widget-properties-title {
    display: inline-block;
    font-weight: bold;
    margin: 2%;
}

.monitored-object-widget-properties {
    display: inline-block;
}

.monitored-object-widget-icon {
    color: #FFF;
}

.monitored-object-widget-content {
    padding: 2%;
}

.monitored-object-widget-image {
    padding: 0;
}

.monitored-object-widget-details {

}