.monitored-object-sensor-tag {
    color: white;
    background-color: rgba(142, 68, 173, 1);
}

.monitored-object-sensor-name {
    display: inline-block;

}

.monitored-object-sensor-tag-close-icon {
    display: inline-block;
}

.monitored-object-sensor-tag-content {
    padding: 1%;
}