.sensor-widget {
    color: white;
    margin-top: 3%;
    margin-left: 3%;
    background-color: rgba(230, 126, 34, 0.8);
}

.glow {
    text-shadow: 0px 0px 5px #1E824C;
}

.sensor-widget-header {
    padding-top: 1%;
    background-color: rgba(0, 0, 0, 0.1);
}

.sensor-widget-title {
    margin-top: 1%;
    overflow: hidden;
}

.sensor-name {
    margin: 0;
}

.sensor-widget-action {
    margin-top: 1%;
    padding: 0 1% 0 0;
}

.sensor-widget-properties-title {
    display: inline-block;
    font-weight: bold;
}

.sensor-widget-properties {
    display: inline-block;
}

.sensor-widget-icon {
    color: #FFF;
}

.sensor-widget-content {

}

.sensor-widget-image {
    padding: 0;
}

.sensor-widget-details {

}