.telemetry-section-title {
    color: white;
    border-bottom: solid 1px dimgray;
}

.telemetry-section-title-value {
    margin: 0 0 1%;
}

.monitored-objects-section {
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 2%;
}

.sensors-section {
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 2%;
}

.telemetry-section-content {
    padding: 0 2% 2%;
}

.telemetry-section-header {
    padding: 2%;
}

.telemetry-section-collapse-icon {

}