<div class="modal fade" id="transmitter-creation-modal" tabindex="-1" role="dialog"
     aria-labelledby="transmitter-creation-modal-label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content custom-modal">
            <div class="modal-header">
                <i class="fa  fa-wifi fa-4x modal-header-icon"></i>
                <h3 class="modal-title" id="sensor-creation-modal-label">Transmitter creation</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <h4>General</h4>
                            <hr>
                            <div class="form-group">
                                <label for="transmitterName" class="col-sm-2 control-label">Name:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-custom" id="transmitterName">
                                </div>
                                <div class="col-md-9 col-md-offset-2">
                                    <span class="modal-error-message help-block" id="transmitterNameError">The transmitter name should not be empty</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="transmitterDescription"
                                       class="col-sm-2 control-label">Description:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-custom"
                                           id="transmitterDescription">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <h4>Connectivity</h4>
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Interface:</label>
                                <div class="col-sm-9">
                                    <select class="form-control input-custom" id="transmitterInterfaceType">
                                        {% for transmitter_interface_type in transmitter_interface_types %}
                                            <option value="{{ transmitter_interface_type }}">{{ transmitter_interface_type|title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group transmitter-interface-configuration"
                             id="serialTransmitterInterfaceConfiguration">
                            <div class="form-group">
                                <label for="transmitterInterfaceBaudrate"
                                       class="col-sm-2 control-label">Baud rate:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-custom"
                                           id="transmitterInterfaceBaudrate">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="transmitterInterfacePort"
                                       class="col-sm-2 control-label">Port:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-custom"
                                           id="transmitterInterfacePort">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-primary-custom"
                        id="createTransmitterButton">
                    Create
                </button>
                <button type="button" class="btn btn-secondary btn-secondary-custom" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>