<!DOCTYPE html>
{% load static %}
<html class="full-page" xmlns="http://www.w3.org/1999/html">
<head>
    <title>RockETS base station</title>
    <link rel="icon" href="{% static "resources/images/rocketsLogo_black.png" %}">


    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/hover-min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/sidebar.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/core-general.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/sweetalert.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/select2.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/select2-custom.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/alertify.core.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/alertify.bootstrap.css" %}">
    {% block stylesheet_import %}
    {% endblock %}
    <script src="{% static "js/vendors/jquery-3.1.1.min.js" %}"></script>
    <script src="{% static "js/vendors/tether.min.js" %}"></script>
    <script src="{% static "js/vendors/bootstrap.min.js" %}"></script>
    <script src="{% static "js/vendors/Chart.min.js" %}"></script>
    <script src="{% static "js/vendors/sweetalert.min.js" %}"></script>
    <script src="{% static "js/sidebar.js" %}"></script>
    <script src="{% static "js/vendors/select2.min.js" %}"></script>
    <script src="{% static "js/exceptions.js" %}"></script>
    <script src="{% static "js/vendors/alertify.min.js" %}"></script>
    {% block js_import %}
    {% endblock %}
</head>
<body class="full-page">
<div class="container-fluid full-page">
    <div class="row full-page">
        {% include "core/side-menu.html" %}
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-7 col-sm-12 content-title-section">
                        <div class="col-md-12">
                            <h2 class="content-title">{{ content_title }}</h2>
                            {% block content_section_action %}
                            {% endblock %}
                        </div>
                    </div>
                    <div class="col-md-5 additional-information">
                        {% block additional-information %}
                        {% endblock %}
                    </div>
                </div>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
{% block script %}
{% endblock %}
</body>
</html>