<!DOCTYPE html>
{% load static %}
<html class="full-page" xmlns="http://www.w3.org/1999/html">
<head>
    <title>RockETS base station</title>

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/sidebar.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/core-general.css" %}">
    <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
</head>
<body class="full-page">
<div class="container-fluid full-page">
    <div class="row full-page">
        <div class="nav-side-menu col-md-2 full-page">
            <div class="brand"><img class="brand-logo" src="{% static "resources/images/rocketsLogo.png" %}"
                                    alt="RockETS Logo"/></div>
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

            <div class="menu-list">

                <ul id="menu-content" class="menu-content collapse out">
                    <li class="active">
                        <a href="#">
                            <i class="fa fa-bar-chart fa-lg"></i> Dashboards
                        </a>
                    </li>

                    <li data-toggle="collapse" data-target="#sensors" class="collapsed">
                        <a href="sensors"><i class="fa  fa-tachometer fa-lg"></i> Sensors <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="sensors">
                        <li>Temperature</li>
                    </ul>


                    <li data-toggle="collapse" data-target="#flights" class="collapsed">
                        <a href="#"><i class="fa fa-history fa-lg"></i> Flights history <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="flights">
                        <li>10/11/2017</li>
                        <li>24/10/2017</li>
                    </ul>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-5 content-title-section">
                        <h2 class="content-title">Dashboards</h2>
                        <button type="submit" class="btn btn-primary btn-custom">
                            Create <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block content %}
{% endblock %}
</body>
</html>