{% extends "core/base-template.html" %}

{% load static %}
{% block stylesheet_import %}
    <link rel="stylesheet" type="text/css" href="{% static "css/dashboards.css" %}">
{% endblock %}

{% block content_section_action %}
    <a href="#" data-toggle="modal" data-target="#dashboards-modal">
        <button type="submit" class="btn btn-primary btn-primary-custom content-section-action">
            Create <i class="fa fa-plus-square-o" aria-hidden="true"></i>
        </button>
    </a>
{% endblock %}

{% block content %}
    <div class="row">
        {% include "dashboards/dashboard.html" %}
    </div>
    {% include "dashboards/dashboards-modals.html" %}
    <script>
        Chart.defaults.global.defaultFontColor = 'white';
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['M', 'T', 'W', 'T', 'F', 'S', 'S'],
                datasets: [{
                    label: 'apples',
                    data: [12, 19, 3, 17, 6, 3, 7],
                    backgroundColor: "rgba(153,255,51,0.6)"
                }, {
                    label: 'oranges',
                    data: [2, 29, 5, 5, 2, 3, 10],
                    backgroundColor: "rgba(255,153,0,0.6)"
                }]
            },
            axisX: {
                labelFontColor: "red",
            },
        });
    </script>
{% endblock %}