{% extends "core/base-template.html" %}

{% load static %}
{% block stylesheet_import %}
    <link rel="stylesheet" type="text/css" href="{% static "css/widgets.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/dashboard.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/flightindicators.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/mapbox-gl.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/widgets-modals.css" %}"/>
{% endblock %}

{% block js_import %}
    <script src="{% static "js/mapbox-gl.js" %}"></script>
    <script src="{% static "js/moment.js" %}"></script>
    <script src="{% static "js/chart.min.js" %}"></script>
    <script src="{% static "js/widget-modals.js" %}"></script>
    <script src="{% static "js/widget.js" %}"></script>
    <script src="{% static "js/raphael-2.1.4.min.js" %}"></script>
    <script src="{% static "js/justgage.js" %}"></script>
    <script src="{% static "js/dashboard.js" %}"></script>
{% endblock %}
{% block content_section_action %}
    <a href="#" data-toggle="modal" data-target="">
        <button type="submit" class="btn btn-primary btn-primary-custom content-section-action">
            Save <i class="fa fa-save" aria-hidden="true"></i>
        </button>
    </a>
{% endblock %}
{% block additional-information %}
    <div class="pull-right dashboard-additional-information">
        <div class="time">
            <h4 class="dashboard-time-content"></h4>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="dashboard" id="{{ dashboards.uuid }}">
        {% for row in dashboard_rows %}
            <div class="row dashboard-row">
                {% for widget in row.widgets %}
                    {% with "dashboards/widgets/"|add:widget.type|add:"-widget.html" as widget_template %}
                        {% include widget_template %}
                    {% endwith %}
                {% endfor %}
                {% if forloop.last %}
                    {% if row.used_width > 8 %}
                        </div>
                        <div class="row">
                            {% include "dashboards/add-widget-component.html" %}
                        </div>
                    {% else %}
                        {% include "dashboards/add-widget-component.html" %}
                        </div>
                    {% endif %}
                {% else %}
                    </div>
                    </hr>
                {% endif %}
        {% endfor %}
    </div>
    {% include "dashboards/scripts/chart-widget.html" %}
    {% include "dashboards/scripts/flightindicators.html" %}
    {% include "dashboards/modals/widgets/widget-creation-modal.html" %}
    {% include "dashboards/modals/widgets/widget-edition-modal.html" %}
    {% block script %}

    {% endblock %}
{% endblock %}