.dashboard-widget {
    cursor: pointer;
    color: white;
    background-color: rgba(39, 174, 96, 0.4);
    margin-top: 2%;
    margin-left: 2%;
}

.dashboard-widget-header {
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.1);
}

.dashboard-widget-title {
    overflow: hidden;
}

.dashboard-name {
    margin: 0;
}

.dashboard-widget-action {
    margin-top: 1%;
    padding: 0 1% 0 0;
}

.dashboard-widget-properties-title {
    display: inline-block;
    font-weight: bold;
    margin: 0;
}

.dashboard-widget-properties {
    display: inline-block;
}

.dashboard-widget-icon {
    color: #FFF;
}

.dashboard-widget-content {
    padding: 2%;
}

.dashboard-widget-image {
    padding: 0;
}

.dashboard-widget-details {

}

a {
    color: white;
}

a:hover {
    color: white;
}

a:visited {
    color: white;
}