.dashboard-add-widget {
    display: table;
    margin-top: 1%;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    min-height: 200px;
}

.dashboard-add-widget:hover {
    color: rgba(255, 255, 255, 0.8);
}

.dashboard-add-widget-content {
    display: table-cell;
    vertical-align: middle;
}

.dashboard-row {
    padding-left: 1%;
}

.dashboard {
    margin-bottom: 3%;
}

.dashboard-additional-information {
    display: table-cell;
    vertical-align: middle;
    margin-right: 2%;
    margin-top: 2%;
    color: white;
}

.dashboard-time-content {
    display: inline-block;
}

.dashboard-time-icon {
    display: inline-block;
}

.dashboard-action {
    display: inline-block;
    margin-left: 3%;
}

#dashboard-play-icon {
    color: rgba(39, 174, 96, 0.8);
    display: inline-block;
    margin-left: 3%;
}

#dashboard-stop-icon {
    color: rgba(192, 57, 43, 1);
    margin-left: 2%;
    display: inline-block;
}