.widget-holder {
    margin-top: 2%;
    background-color: rgba(0, 0, 0, 0.2);
    min-height: 250px;
}

.widget-holder-header {
    padding: 1%;
    color: white;
    border-left: 4px solid #004767;
    background-color: rgba(0, 0, 0, 0.05);;
}

.widget-holder-action {
    padding: 1% 1% 0 0;
}

.widget-holder-action-chart {
    padding: 0;
}

.widget-holder-content {
    padding: 1%;
}

.widget-holder-footer {

}

.gauge-widget {
    margin-top: 12%;
}

.widget-style-2 {
    margin-right: 6%;
}

.widget-style-3 {
    margin-right: 5%;
}

.widget-style-5 {
    margin-right: 2%;
}

.widget-style-8 {
    margin-right: 2%;
}

.gauge-widget-minimum-value-holder {
    text-align: center;
    color: white;
}

.gauge-widget-maximum-value-holder {
    text-align: center;
    color: white;
}

.gauge-widget-maximum-value {
    margin-top: 0;
}

.gauge-widget-minimum-value {
    margin-top: 0;
}