<div class="col-md-4 col-sm-6 sensor-widget hvr-forward" id="{{ sensor.uuid }}">
    <div class="row sensor-widget-header">
        <div class="col-md-10 col-sm-9 sensor-widget-title">
            <h4 class="ellipsis-text sensor-name">This is a test{{ sensor.name }}</h4>
        </div>
        <div class="col-md-2 col-sm-3 sensor-widget-action pull-right">
            <a href="#">
                <i class="pull-right fa  fa-trash-o fa-1x hvr-grow sensor-widget-delete-icon"></i>
            </a>
            <a href="#" data-toggle="modal" data-target="#sensor-edition-modal">
                <i class="pull-right fa  fa-cog fa-1x hvr-grow sensor-widget-edit-icon"></i>
            </a>
        </div>
    </div>
    <div class="row sensor-widget-content">
        <div class="col-md-2 sensor-widget-image">
            <i class="fa  fa-plug fa-5x"></i>
        </div>
        <div class="col-md-10 sensor-widget-details">
            <h5 class="sensor-widget-properties-title">UUID: </h5>
            <span class="sensor-uuid">{{ sensor.uuid }}</span>
            <br/>
            <h5 class="sensor-widget-properties-title">Description: </h5>
            <span class="sensor-description">{{ sensor.description }}</span>
            <br/>
        </div>

    </div>
    <div class="row sensor-widget-footer">
    </div>
</div>