<div class="col-md-4 col-sm-6 transmitter-widget hvr-forward" id="{{ transmitter.uuid }}">
    <div class="row transmitter-widget-header">
        <div class="col-md-10 col-sm-9 transmitter-widget-title">
            <h4 class="ellipsis-text transmitter-name">{{ transmitter.name }}</h4>
        </div>
        <div class="col-md-2 col-sm-3 transmitter-widget-action pull-right">
            <a href="#">
                <i class="pull-right fa  fa-trash-o fa-1x hvr-grow transmitter-widget-delete-icon"></i>
            </a>
            <a href="#" data-toggle="modal" data-target="#transmitter-edition-modal">
                <i class="pull-right fa  fa-cog fa-1x hvr-grow transmitter-widget-edit-icon"></i>
            </a>
        </div>
    </div>
    <div class="row transmitter-widget-content">
        <div class="col-md-2 transmitter-widget-image">
            <i class="fa  fa-plug fa-5x"></i>
        </div>
        <div class="col-md-10 transmitter-widget-details">
            <h5 class="transmitter-widget-properties-title">Description: </h5>
            <span class="transmitter-description">{{ transmitter.description }}</span>
            <br/>
            <h5 class="transmitter-widget-properties-title">Type: </h5>
            <span class="transmitter-description">{{ transmitter.type }}</span>
            <br/>
            <h5 class="transmitter-widget-properties-title">Node: </h5>
            <span class="transmitter-description">{{ transmitter.node }}</span>
            <br/>
        </div>
    </div>
    <div class="row transmitter-widget-footer">
    </div>
</div>