{% extends "dashboards/widgets/widget-base-template.html" %}
{% block widget-title %}
    <span>{{ widget.name }}</span>
{% endblock %}
{% block widget-content %}
    <div class="gauge-widget" id="{{ widget.name }}-{{ widget.uuid }}"></div>
    <script>
        var g = new JustGage({
            id: "{{ widget.name }}-{{ widget.uuid }}",
            value: 67,
            min: 0,
            max: 100,
            title: "test",
            valueFontColor: "#FFFFFF"
        });
    </script>
{% endblock %}
{% block widget-footer %}
{% endblock %}
