{% extends "dashboards/widgets/widget-base-template.html" %}
{% block widget-title %}
    <span>{{ widget.name }}</span>
{% endblock %}
{% block widget-content %}
    <div id='{{ widget.name|cut:" " }}-{{ widget.uuid }}'></div>
{% endblock %}
{% block widget-footer %}
{% endblock %}
{% block script %}
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiYmVucm9iaSIsImEiOiJjajFoYWFuY2owMDZpMndvMGZ2ZHM0azR5In0.WEFjBJOEWJwKqoQS3_ndWA';
        var map = new mapboxgl.Map({
            container: '{{ widget.name|cut:" "}}-{{ widget.uuid }}',
            style: 'mapbox://styles/mapbox/outdoors-v9'
        });
        $('#{{ widget.name|cut:" "}}-{{ widget.uuid }}').css({'width': '100%'});
        var cw = $('#{{ widget.name|cut:" "}}-{{ widget.uuid }}').width();
        $('#{{ widget.name|cut:" "}}-{{ widget.uuid }}').css({'height': 0.60 * cw + 'px'});
    </script>
{% endblock %}