{% extends "dashboards/widgets/widget-base-template.html" %}
{% block widget-title %}
    <span>{{ widget.name }}</span>
{% endblock %}
{% block widget-content %}
    <canvas class="chart-widget" id="{{ widget.name|cut:" " }}-{{ widget.uuid }}"></canvas>
{% endblock %}
{% block widget-footer %}
{% endblock %}
{% block script %}
    <script>
        Chart.defaults.global.defaultFontColor = 'white';
        var ctx = document.getElementById('{{ widget.name|cut:" "}}-{{ widget.uuid }}').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [moment().add(1, 's'), moment().add(3, 's'), moment().add(5, 's'), moment().add(7, 's'), moment().add(9, 's')],
                datasets: [{
                    label: '{{ widget.name }}',
                    data: [Math.random() * 100 + Math.random() * 100, Math.random() * 100, Math.random() * 100, Math.random() * 100, Math.random() * 100, Math.random() * 100, Math.random() * 100],
                    backgroundColor: "rgba(207, 0,15,0)",
                    borderColor: getRandomColor()
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        type: 'linear',
                        ticks: {
                            suggestedMin: 0
                        },
                        scaleLabel: {
                            display: true,
                            labelString: '{{ widget.measure_units }}'
                        }
                    }],
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'second'
                        }
                    }]
                }
            }
        });

        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
    </script>
{% endblock %}