{% extends "dashboards/widgets/widget-base-template.html" %}
{% block widget-title %}
    <span>{{ widget.name }}</span>
{% endblock %}
{% block widget-content %}
    <canvas class="chart-widget" id="{{ widget.name|cut:" " }}-{{ widget.uuid }}"></canvas>
{% endblock %}
{% block widget-footer %}
{% endblock %}
{% block script %}
    <script>
        Chart.defaults.global.defaultFontColor = 'white';
        window["{{ widget.uuid }}-ctx"] = document.getElementById('{{ widget.name|cut:" " }}-{{ widget.uuid }}').getContext('2d');
        window["{{ widget.uuid }}-index"] = 0;
        window["{{ widget.uuid }}-chart"] = new Chart(window["{{ widget.uuid }}-ctx"], {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: '{{ widget.name }}',
                    data: [],
                    backgroundColor: "rgba(207, 0,15,0)",
                    borderColor: getRandomColor()
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        type: 'linear',
                        ticks: {
                            suggestedMin: 0,
                            maxTicksLimit: 5
                        },
                        scaleLabel: {
                            display: true,
                            labelString: '{{ widget.measure_units }}'
                        }
                    }],
                    xAxes: [{
                        type: 'time',
                        ticks: {
                            autoSkip: true,
                            maxTicksLimit: 2
                        }
                    }]
                }
            }
        });

        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        window["{{ widget.uuid }}-socket"] = new WebSocket("ws://" + window.location.host +
                "/telemetry/{{ widget.sensor_id }}/{{ widget.sensor_measure }}");
        window["{{ widget.uuid }}-socket"].onmessage = function (e) {
            var value = parseFloat(e.data).toFixed(2);
            window["{{ widget.uuid }}-chart"].data.datasets[0].data[window["{{ widget.uuid }}-index"]] = value;
            window["{{ widget.uuid }}-chart"].data.labels[window["{{ widget.uuid }}-index"]++] = moment();
            window["{{ widget.uuid }}-chart"].update(1);
            if (window["{{ widget.uuid }}-index"] % 150 == 0) {
                window["{{ widget.uuid }}-chart"].data.datasets[0].data.shift();
                window["{{ widget.uuid }}-chart"].data.labels.shift();
                window["{{ widget.uuid }}-index"]--;
            }
        };
        window["{{ widget.uuid }}-socket"].onopen = function () {
            console.log("Socket opened")
        };
        // Call onopen directly if socket is already open
        if (window["{{ widget.uuid }}-socket"].readyState == WebSocket.OPEN) window["{{ widget.uuid }}-socket"].onopen();
    </script>
{% endblock %}