{% extends "dashboards/widgets/widget-base-template.html" %}
{% block widget-title %}
    <span>{{ widget.name }}</span>
{% endblock %}
{% block widget-content %}
    <h2 class="single-value-widget-value" id="{{ widget.uuid }}-value"></h2>
{% endblock %}
{% block widget-footer %}
{% endblock %}
{% block script %}
    <script>
        window["{{ widget.uuid }}-socket"] = new WebSocket("ws://" + window.location.host +
                "/telemetry/main/state");
        window["{{ widget.uuid }}-socket"].onmessage = function (e) {
            $("#{{ widget.uuid }}-value").text(e.data);
        };
        window["{{ widget.uuid }}-socket"].onopen = function () {
            console.log("Socket opened")
        };
        // Call onopen directly if socket is already open
        if (window["{{ widget.uuid }}-socket"].readyState == WebSocket.OPEN) window["{{ widget.uuid }}-socket"].onopen();
    </script>
{% endblock %}