body {
    font-family: 'Raleway', sans-serif;
}

.content-title-section {
    color: white;
    border-bottom: solid 1px dimgray;
    display: inline-block;
}

.content-title {
    display: inline-block;
}

.content-section-action {
    display: inline-block;
    padding-left: 5%;
    margin-bottom: 5%;
}

.btn-primary-custom {
    background-color: #006080 !important;
    border-color: #006080 !important;
    border-radius: 0 !important;
}

.btn-primary-custom:hover {
    background-color: #004767 !important;
    border-color: #004767 !important;
}

.btn-secondary-custom {
    background-color: #ececec !important;
    border-color: #ececec !important;
    border-radius: 0 !important;
}

.btn-secondary-custom:hover {
    background-color: #dfdfdf !important;
    border-color: #dfdfdf !important;
}

.custom-modal {
    border-radius: 0 !important;
}